html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
.body {
    background-color: #ffffff;
    text-align: center;
}

.wrapper_content {
    width: 300px;
    height: 570px;
    padding-left: 10px;
    background-color: bisque;
}

.lead_data {
    font-size: 20px;
}

.input_block {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(52, 180, 176);
    border: #ffffff;
}

.result_block {
    width: 250px;
    height: 60px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgb(140, 232, 66);
    text-align: center;
    line-height: 60px;
}